version: '3.7'
services:

  mysql:
    build:
      context: mysql/
      args:
        MYSQL_VERSION: $MYSQL_VERSION
    volumes:
      - type: bind
        source: ./mysql/config/mysql.cnf
        target: /etc/mysql/conf.d/my.cnf
        read_only: true
      - type: bind
        source: ./mysql/sql
        target: /docker-entrypoint-initdb.d
        read_only: true
      - type: volume
        source: mysql
        target: /var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=d4@]UGI)iVXa/kG6
      - MYSQL_DATABASE=cookshoong_shop_prod
      - MYSQL_USER=cookshoong
      - MYSQL_PASSWORD=d4@]UGI)iVXa/kG6
    networks:
      - mysql-elk

  es01:
    container_name: es01
    build:
      context: elasticsearch/
      args:
        ELK_VERSION: $ELK_VERSION
    volumes:
      - type: bind
        source: ./elasticsearch/config/elasticsearch.yml
        target: /usr/share/elasticsearch/config/elasticsearch.yml
        read_only: true
      - type: bind
        source: ./elasticsearch/config/analysis/synonym.txt
        target: /usr/share/elasticsearch/config/analysis/synonym.txt
        read_only: true
      - type: bind
        source: ./elasticsearch/config/analysis/userdict.txt
        target: /usr/share/elasticsearch/config/analysis/userdict.txt
        read_only: true
      - type: volume
        source: elasticsearch01
        target: /usr/share/elasticsearch/data
    ports:
      - "9200:9200"
    environment:
      - node.name=es01
      - cluster.name=docker-cluster
      - discovery.seed_hosts=es02,es03
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms2g -Xms2g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - mysql-elk

  es02:
    container_name: es02
    build:
      context: elasticsearch/
      args:
        ELK_VERSION: $ELK_VERSION
    volumes:
      - type: bind
        source: ./elasticsearch/config/elasticsearch.yml
        target: /usr/share/elasticsearch/config/elasticsearch.yml
        read_only: true
      - type: bind
        source: ./elasticsearch/config/analysis/synonym.txt
        target: /usr/share/elasticsearch/config/analysis/synonym.txt
        read_only: true
      - type: bind
        source: ./elasticsearch/config/analysis/userdict.txt
        target: /usr/share/elasticsearch/config/analysis/userdict.txt
        read_only: true
      - type: volume
        source: elasticsearch02
        target: /usr/share/elasticsearch/data
    ports:
      - "9201:9201"
    environment:
      - node.name=es02
      - cluster.name=docker-cluster
      - discovery.seed_hosts=es01,es03
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms2g -Xms2g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - mysql-elk

  es03:
    container_name: es03
    build:
      context: elasticsearch/
      args:
        ELK_VERSION: $ELK_VERSION
    volumes:
      - type: bind
        source: ./elasticsearch/config/elasticsearch.yml
        target: /usr/share/elasticsearch/config/elasticsearch.yml
        read_only: true
      - type: bind
        source: ./elasticsearch/config/analysis/synonym.txt
        target: /usr/share/elasticsearch/config/analysis/synonym.txt
        read_only: true
      - type: bind
        source: ./elasticsearch/config/analysis/userdict.txt
        target: /usr/share/elasticsearch/config/analysis/userdict.txt
        read_only: true
      - type: volume
        source: elasticsearch03
        target: /usr/share/elasticsearch/data
    ports:
      - "9202:9202"
    environment:
      - node.name=es03
      - cluster.name=docker-cluster
      - discovery.seed_hosts=es01,es02
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms2g -Xms2g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - mysql-elk

  logstash:
    build:
      context: logstash/
      args:
        ELK_VERSION: $ELK_VERSION
    volumes:
      - type: bind
        source: ./logstash/config/logstash.yml
        target: /usr/share/logstash/config/logstash.yml
        read_only: true
      - type: bind
        source: ./logstash/pipeline/pipelines.yml
        target: /usr/share/logstash/config/pipelines.yml
        read_only: true
      - type: bind
        source: ./logstash/pipeline/conf
        target: /usr/share/logstash/pipeline
        read_only: true
      - type: bind
        source: ./logstash/pipeline/sql
        target: /usr/share/logstash/sql
        read_only: true
    ports:
      - "5044:5044"
      - "5000:5000/tcp"
      - "5000:5000/udp"
      - "9600:9600"
    environment:
      - "LS_JAVA_OPTS=-Xms256m -Xmx256m"
    networks:
      - mysql-elk
    depends_on:
      - es01

  kibana:
    build:
      context: kibana/
      args:
        ELK_VERSION: $ELK_VERSION
    volumes:
      - type: bind
        source: ./kibana/config/kibana.yml
        target: /usr/share/kibana/config/kibana.yml
        read_only: true
    ports:
      - "5601:5601"
    networks:
      - mysql-elk
    depends_on:
      - es01

networks:
  mysql-elk:
    driver: bridge

volumes:
  mysql:
  elasticsearch01:
    driver: local
  elasticsearch02:
    driver: local
  elasticsearch03:
    driver: local
